

  <div class="large-7 large-centered columns white_bg" id="splash_copy">
    <h1>Tour booking without an agent has never been easier.</h1><br><h3>ShowFinder helps connect bands by providing an easy interface for show sharing.  Browse the shows, submit a request, and the show owner is notified of your intent to join the bill. </h3><br>
    <div class='large-4 large-centered columns' id="splash_links">
    <a href="/users/sign_up">Sign Up</a>|
    <a href="/users/sign_in">Sign In</a>
  </div>

  </div>
  
