<div class="large-7 large-centered columns white_bg" id="splash_copy">
    <h1>Welcome to ShowFinder!</h1><br>
    <div class='large-7 large-centered columns' id="splash_links">
    <a href="/profile">My Account</a>|
    <a href="/shows/">Browse Shows</a>
  </div>

  </div>
