<h1>Submit a Request to Join a Show</h1>
<hr>
<div class="large-4 large-centered columns">
<h3>Choose band to Submit for this show:</h3>
<form action="/requests" method="POST">
<select name="band">
  <% current_user.bands.each do |band| %>
  <option value="<%= band.id %>"><%= band.name %></option>
  <% end %>
</select>
<input type="hidden" name="show_id" value="<%= params[:show_id] %>">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
<button class="small button">Submit Request</button>
</form>
<p>After submitting a request, the show's user will be notified and you will be contacted directly.</p>
</div>