#venue_info {
  text-align: center;
}

#show_info {
  text-align: center;
}

#show_info img {
  height: 200px;
  width: 300px;
}

#band_info {
  text-align: center;
}

#map {
  margin: 0 auto;
}

#index_background {
  background-image: url("http://images5.alphacoders.com/349/349660.jpg");
  height: 100%;
  background-size: cover;
}

#profile_bands form {
  display:inline;
}

#map img{
  max-width: inherit;
}
