#venue_info {
  text-align: center;
}

#show_info {
  text-align: center;
}

#show_info img {
  height: 200px;
  width: 300px;
}

#band_info {
  text-align: center;
}

#map {
  margin: 0 auto;
}

#index_background {
  background-image: url("http://images5.alphacoders.com/349/349660.jpg");
  height: 100%;
  background-size: cover;
  background-image: no-repeat;
}

#profile_bands form {
  display:inline;
}

#map img{
  max-width: inherit;
}

.white_bg {
  background-color: rgba(255,255,255,.65);
  border-radius: 5px;
  padding: 20px;
  margin-top: 30px;
  display: block;
  overflow: auto;
}

.white_title {
  background-color: rgba(255,255,255,.65);
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
}

.notice {
  color: white;
}

.alert {
  color: white;
}

#splash_copy h1 {
  color: #008CBA;
}

#splash_links a {
  display: inline;
  color: #333;
  font-size: 1.6em;
  text-decoration: none
}

#splash_links a:first-child {
  padding-right: 20px;
}

#splash_links a:nth-child(2) {
  padding-left: 20px;
}

#splash_links a:hover {
  color: #008CBA;
}

#search_city_shows {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

#search_city_shows a {
  font-size: 1.2em;
  text-decoration: none;
  color: #333;
}

#search_city_shows a:hover {
  color: #008CBA;
}

#hover1 {
  padding: 20px;
}

#hover1 input {
  margin-bottom: 10px;
}

.f-dropdown li:hover {
  background: none;
}

.f-dropdown {
  border: none;
}

.left-off-canvas-menu {
  height: 1000px;
}

.off-canvas-wrap {
  height: 100%;
}

